* {
    margin: 0;
    padding: 0;
}

body {
    width: 1170px;
    margin: 0 auto;
    /* border: 2px solid greenyellow; */
    font-family: 'Mulish', sans-serif;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.25rem;
    width: 11rem;
    border-radius: 0.5rem;
    color: aliceblue;
    background-color: #EA3333;
    border: none;
    font-weight: 700;
    transition: 500ms;
}

button:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h4 {
    font-weight: 400;
}

hr {
    margin-bottom: 20px;
    color: rgba(19, 19, 24, 0.10);
}

.hambur {
    display: none;
}

.find-des {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
}


select,
input {
    width: 174px;
    height: 52px;
    margin-right: 24px;
    border-radius: 0.5rem;
    border: none;
    padding-left: 15px;
}

.find-des-opt {
    width: 174px;
    height: 52px;

}

.main-nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav li:hover {
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    font-weight: 800;
}

.logo span {
    color: #EA3333;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    padding-right: 44px;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/hero-image.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;

}


.section-1 h1,
h4 {
    color: white;
}

.section-1 h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.section-1 h4 {
    margin-bottom: 3rem;
}

.section-2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.section-2-content p {
    padding-top: 24px;
    max-width: 580px;

}

.section-2-content li {
    position: relative;
    left: 15px;
    max-width: 580px;

}

.section-3 {
    margin: 100px 0;
}

.section-3-texts {
    text-align: center;
}

.section-3-texts h1,
p {
    margin-bottom: 30px;
}

.mcfirst,
.mc2nd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.mc3rd {
    display: flex;
    justify-content: space-between;
}



.section-3-content-main {
    position: relative;
    text-align: center;
    color: white;
    transition: 300ms;
}

.section-3-content-main:hover {
    transform: scale(1.1);
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-4-texts {
    text-align: center;
}

.section-4-texts h1 {
    padding-bottom: 48px;
}

.s4-card {
    border: 2px #EA3333 dotted;
    max-width: 540px;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.s4-card h2 {
    padding-bottom: 10px;
}

#card1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    ;
}

#card2 {

    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card3 {

    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px auto;

}

.s4-cm {
    display: flex;
    justify-content: space-between;
}
.section-5-texts h1{
    padding-bottom: 50px;
}

.section-5 {}

.section-5-texts {
    text-align: center;

}

.deals-card {
    height: auto;
    width: 400px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.deals-card-firstline {
    display: flex;
    gap: 5px;
}

.icons {
    display: flex;
    gap: 5px;
}

.gapandcolor {
    color: #EA3333;
    padding-bottom: 10px;
}

.deals1 {
    background-image: url('../images/Tour-1.png');
    height: 500px;
    margin-bottom: 20px;
    
    
}
.deals2 {
    background-image: url('../images/Tour-2.png');
    height: 500px;
    margin-bottom: 20px;
}
.deals3 {
    background-image: url('../images/Tour-1.png');
    height: 500px;
}
#d1, #d3{
    margin-left: 50%;
    
}
#d2{
 margin-left: 10%;
}



.section-6 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.section-6-texts {
    max-width: 532px;

}

.section-6-texts h1 {
    padding-bottom: 1.5rem;
}

.section-6-texts ul {
    font-weight: 700;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.section-6-content {
    border-radius: 2rem;
}

.btm-lg-txt {
    font-size: 1rem;
    size: 80%;
}

.newslatter {
    /* background-color: black; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.newslatter-card {
    display: grid;
    max-width: 380px;
    border: 1px solid #EA3333;
    border-radius: 1rem;
    padding: 50px;

}

.newslatter-card input {
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-promo {
    position: relative;
}

.promo-text {
    padding: 50px;
    border-radius: 1rem;
    background-color: #EA3333;
    color: aliceblue;
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: rotate(5deg);
}

.footer {

    align-items: center;
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-texts p {
    margin-top: 15px;
}

.footer-texts-logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-top: 100px;
}

.footer hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer p {
    padding-bottom: 20px;

}

@media screen and (max-width: 600px) {
    body {
        width: 100vw;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .main-nav li {
        display: none;
    }

    .hambur {
        display: block;
    }

    .main-nav {
        width: 90vw;
    }


    .section-1 {
        width: 90vw;
        /* height: ; */

    }

    .section-1 h1 {
        font-size: 1.5rem;
        padding-top: 50px;
        padding-bottom: 0;
    }

    /* .section-1 p{
        padding-bottom: 0; */
    .section-1-content {
        width: 500px;
    }

    .find-des {
        width: fit-content;
        display: grid;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-2 {
        flex-direction: column;
        gap: 20px;
    }

    .section-2-content {
        max-width: 90vw;
    }

    .section-3 {
        width: 80vw;
    }

    .section-3-texts {
        width: 90vw;


    }

    .section-3-content {
        width: 90vw;

    }

    .image-fill {

        height: 300px;
        width: 90vw;
        object-fit: fill;
    }

    .mcfirst,
    .mc2nd {
        flex-direction: column;
        margin-bottom: 0;
        /* width: 80vw; */
        /* height: 300px;
        width: 473px;
        object-fit: cover; */

    }

    .mc3rd {
        flex-direction: column;
    }

    .s4-cm {
        flex-direction: column;

    }

    .section-4-texts {
        width: 90vw;
        text-align: center;

    }

    .s4-card {
        width: 80vw;
    }

    #card3 {
        margin: 0 0;
    }
    .deals1{
        /* height: 500px;
        object-fit: fill; */

    }
    #d1, #d2, #d3{
        margin: 0;
    }


    .section-6 {
        max-width: 90vw;
        flex-direction: column;
        gap: 20px;
    }

    .section-6-content {
        width: 80vw;
    }

    .newslatter {
        flex-direction: column;
        gap: 20px;
        width: 90vw;

    }

    .footer {
        width: 90vw;
    }

    .promo-text {
        max-width: 30vw;
        border-radius: 25%;
    }

}