* {
    margin: 0;
    padding: 0;
}

body {
    width: 1170px;
    margin: 0 auto;
    /* border: 2px solid greenyellow; */
    font-family: 'Mulish', sans-serif;
}

button {
    height: 3.25rem;
    width: 11rem;
    border-radius: 0.5rem;
    align-items: center;
    color: aliceblue;
    background-color: #EA3333;
    border: none;
    /* display: flex;
    justify-content: center;
    padding: ; */
}

.find-des {
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
}

.main-nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    font-weight: 800;
}

.logo span {
    color: #EA3333;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    padding-right: 44px;
}

.section-1 {
    /* display: flex; */
    margin-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/images/hero-image.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    /* display: block; */
}

.section-1-content {

    border: 3px #EA3333 dotted;
}

.section-1 h1,
h4 {
    color: white;
}

.section-1 h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.section-1 h4 {
    margin-bottom: 3rem;
}